<div class='header'>
<%= link_to "PRIVATE EVENTS", root_url %>
<% if signed_in? %>
 | <%= link_to current_user.name, current_user %>
 | <%= link_to "Sign out", sign_out_path, method: :delete %>
<% else %>
 | <%= link_to "Sign up", sign_up_path %> or <%= link_to "Sign in", sign_in_path %>
<% end %>
</div>
